@keyframes bg {
  0% {
    background-color: red;
  }
  75% {
    background-color: green;
  }
  100% {
    background-color: grey;
  }
}
body {
  color: black;
  background-color: grey;
  animation: bg;
  -webkit-animation: bg;
  -moz-animation: bg;
  animation-duration: 5s;
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  animation-direction: alternate;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
 }

table {
  table-layout: fixed;
}
.hidden {
  width: 0;
  transition: width 2s;
  -webkit-transition: width 2s;
  -moz-transition: width 2s;
  -o-transition: width 2s;
}
.nothidden {
  width: initial;
  transition: width 2s;
  -webkit-transition: width 2s;
  -moz-transition: width 2s;
  -o-transition: width 2s;
}
