@keyframes bg {
  0% {
    background-color: red;
  }
  75% {
    background-color: lightgreen;
  }
  100% {
    background-color: white;
  }
}
body {
  color: grey;
  animation: bg;
  -webkit-animation: bg;
  animation-duration: 5s;
  -webkit-animation-duration: 5s;
  animation-direction: forward;
  -webkit-animation-direction: forward;
 }
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
