@keyframes bg {
  0% {
    background-color: red;
  }
  75% {
    background-color: green;
  }
  100% {
    background-color: white;
  }
}
body {
  color: grey;
  animation: bg;
  -webkit-animation: bg;
  animation-duration: 5s;
  -webkit-animation-duration: 5s;
  animation-direction: forward;
  -webkit-animation-direction: forward;
 }
